{{define "subject"}}Reset your DialedIn Password{{end}}

{{define "plainBody"}}
Hello!

Please send a request to the `PUT /v1/users/password` endpoint with the following JSON body to set a new password:

{"password": "your new password", "token": "{{.passwordResetToken}}"}

Please note that this is a one time use token and will expire in 45 minutes. If you need another token please submit another request

Thank you!

The Dialed-In Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <p>Hello!</p>
        <p>Please send a request to the <code>`PUT /v1/users/password`</code> endpoint with the following JSON body to set a new password:</p>
        <pre><code>
        {"password": "your new password", "token": "{{.passwordResetToken}}"}
        </code></pre>
        <p>Please note that this is a one time use token and will expire in 45 minutes. If you need another token please submit another request</p>
        <p>Thank you!<p/>
        <p>The Dialed-In Team</p>
    </body>
</html>
{{end}}

