{{define "subject"}}Reset Your Dialed-In Password{{end}}

{{define "plainBody"}}
Hello {{.userName}},

We received a request to reset your Dialed-In password.

Your one-time password reset token is:

{{.passwordResetToken}}

This token will expire in 45 minutes. If it expires or you didn’t request a reset, simply submit a new request or ignore this message.

If you have any questions, feel free to reach out to us at dialedincafe@gmail.com.

Thank you,
The Dialed-In Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <p>Hello {{.userName}},</p>

    <p>We received a request to reset your Dialed-In password.</p>

    <p>Your one-time password reset token is:</p>

    <pre><code>{{.passwordResetToken}}</code></pre>

    <p>This token will expire in 45 minutes. If it expires or you didn’t request a reset, simply submit a new request or ignore this message.</p>

    <p>If you have any questions, feel free to reach out to us at <a href="mailto:dialedincafe@gmail.com">dialedincafe@gmail.com</a>.</p>

    <p>Thank you,</p>
    <p>The Dialed-In Team</p>
  </body>
</html>
{{end}}


