{{define "subject"}}Welcome to Dialed-In!{{end}}

{{define "plainBody"}}
Hello {{.userName}},

Welcome to Dialed-In! We're excited to help you elevate your coffee experience and make every cup a little better.

If you have any questions or feedback, feel free to reach out to us at dialedincafe@gmail.com.

Thank you for joining us,
The Dialed-In Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <p>Hello {{.userName}},</p>

    <p>Welcome to <strong>Dialed-In</strong>! We're excited to help you elevate your coffee experience and make every cup a little better.</p>

    <p>If you have any questions or feedback, feel free to reach out to us at
      <a href="mailto:dialedincafe@gmail.com">dialedincafe@gmail.com</a>.
    </p>

    <p>Thank you for joining us,</p>
    <p>The Dialed-In Team</p>
  </body>
</html>
{{end}}
