{{define "subject"}}Welcome to Dialed-In!{{end}}

{{define "plainBody"}}
Hello!

Thanks for signing up, we hope to serve as a general guideline on how you can better experience your morning cup of coffee!

The Dialed-In Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <p>Hello!</p>
        <p>Thanks for signing up, we hope to serve as a general guideline on how you can better experience your morning cup of coffee!</p>
        <p>The Dialed-In Team</p>
    </body>
</html>
{{end}}

